*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg , #153677 , #4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;

}
.todo-app h2{
    color: #002765;
    /* display: flex; */
    align-items: center;
    margin-bottom: 20px;

}
.todo-app h2 img{
    width: 40px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border: none;
    padding: 10px;
    outline: none;
    background: transparent;
    font-weight: 14px;


}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    border-radius: 40px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;


}
ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    font-size: 17px;
    position:relative;
}

ul li::before {
    content: '';
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-position: center;
    top: 49%;
    position: absolute;
    background-image: url("unchecked.png");
    background-size: cover;
    left: 16px;
    transform: translateY(-50%);
    /* margin-left: 440px; */

}
ul li.checked{
    text-decoration: line-through;
    color: #555;
}
ul li.checked::before{
    background-image: url("checked.png");
}
ul li span {
    border-radius: 50%;
    width: 40px;
    height: 20px;
    right: 0;
    text-align: center;
    color: #555;
    font-size: 25px;
    line-height: 15px; 
    position: absolute;
    cursor: pointer; 
    top: 5px;
}
ul li span:hover{
    background: #edeef0;
}